name: Code styles, tests and building
on:
  pull_request:
    branches:
      - main
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.13.1
      - run: npm start
      - run: npm run build
      - run: npm run lint:check
      - run: npm run prettier:check
      - run: npm run test
    env:
      CI: true
